@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 60%;
    height: 100vh;
    margin: auto;
    /* background-color: red; */
}
.header{
    background-color: #1B1B3A;
    padding: 1.5rem 0rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}


.header h1{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    margin-top: 0.3rem;
}

.header p{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}



.catgBtnList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.catgBtn button{
background-color: #1B1B3A;
color: white;
padding: 1rem 2rem;
margin: 2rem 1rem;
border: none;
border: 1px solid #183153;
border-radius: 0.5rem;
/* border: 2px solid yellow; */
/* border-bottom: 6px solid yellow; */
}


.middle{
    width: 60%;
    margin: auto;  
}

.animesLists{
    /* width: 30%; */
    border-radius: 0.5rem;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border: 2px solid #1B1B3A;
    border-bottom: 5px solid #1B1B3A;
    background-color: #1b1b3a52;
    color: #1B1B3A;
    margin-bottom: 1rem;
}

.animeName{
    font-size: 1.2rem;
    font-weight: 700;
}

.animeRating{
    font-weight: 500;
    margin-top: 0.2rem;
    font-size: 1rem;
}

.animeRating i{
    color: yellow;
    background-color: #1B1B3A;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0.3rem;
    text-align: center;
    /* margin: auto; */
}


.footer{
    background-color: #1B1B3A;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer h1{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.footer p{
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.footer h2{
    font-size: 0.8rem;
    color: white;
    margin-top: 0.3rem;
    text-align: center;
}
.footer h2 a{
    color: white;
}
.footer h2 a:hover{
    color: yellow;
}

.footer h2 i{
    color: yellow;
}



/* MEDIA QUERY */
@media (max-width : 468px){

    .container{
        width: 95%;
    }

    .header{
        padding: 1rem 0rem;
    }
    
    .catgBtn button{
        padding: 0.8rem;
        margin: 1.4rem 0.5rem;
    }

    .middle{
        width: 65%;
    }
}

@media (min-width : 469px) and (max-width : 776px){
    .container{
        width: 80%;
    }

    .catgBtn button{
        padding: 1rem 1.5rem;
        margin: 2rem 0.6rem;
        }
}